.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;;
}

.card {
  display: flex;
  flex-direction: row;
  
  padding: 1rem;
  width: 100%;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
}


.card > div {
  /*border: 1px solid #eaeaea;*/
  padding-left: 1rem;
}




.card:hover,
.card:focus,
.card:active {
  border-color: grey;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .card {
    flex-direction: column-reverse;
  }

  .card > aside {
    margin-top: 1rem;
  }

}
