.footer_container {
  display: flex;
  padding: 5px;
  background: #000;
  color: #fff;  
  align-items: center;
  height: 31px;
  justify-content: space-evenly;
}

.logo {
  line-height: 1.15;
  font-size: 1.5rem;
  color: red;
}

.logo span {
  color: #0070f3;
}